{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}

    <h1>edit comment</h1>

    {{ form_start(formEditComment) }}

    {{ form_row(formEditComment.content) }}
    <button type="submit" class="btn btn-primary">ok</button>

    {{ form_end(formEditComment) }}

{% endblock %}
