{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}




    <h1>Posts</h1>
    <a href="{{ path('create_post') }}">create</a>


    {% for post in posts %}

        <div class="card my-4 p-4">
            <p class="text-secondary">{{ post.createdAt|date('H:s - d/m/Y') }}</p>
            <p>{{ post.content }}</p>
            <a href="{{ path('show_post', {id:post.id}) }}">see more</a>

        </div>

    {% endfor %}

{% endblock %}
